﻿@{
    ViewData["Title"] = "Página Inicial";
}

@model PocAudio.Models.AudioModel

@using Microsoft.AspNetCore.Mvc;
@using PocAudio.Models;

<div class="audio-recorder">
    <button id="toggle-record" class="btn btn-primary">Iniciar Gravação</button>
    <button id="clear-record" class="btn btn-warning" disabled>Limpar Gravação</button>
</div>

<div class="progress" style="height: 25px;">
    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div id="timer" class="mt-2">00:00</div>

<div id="feedback" class="mt-2"></div>

<audio id="audioPlayer" controls style="display: none;"></audio>
<button id="send-audio" class="btn btn-success" disabled>Enviar Áudio</button>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">

<script>
    const audioPlayer = document.getElementById('audioPlayer');
    const toggleRecordButton = document.getElementById('toggle-record');
    const sendAudioButton = document.getElementById('send-audio');
    const clearRecordButton = document.getElementById('clear-record');
    const feedback = document.getElementById('feedback');
    const timer = document.getElementById('timer');

    let mediaRecorder;
    let audioChunks = [];
    let recordingInterval;
    let startTime;

    function habilitarBotoes(recording) {
        toggleRecordButton.textContent = recording ? 'Parar Gravação' : 'Iniciar Gravação';
        clearRecordButton.disabled = recording;
    }

    function blobToBase64(blob) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result);
            reader.onerror = reject;
            reader.readAsDataURL(blob);
        });
    }


    function sendAudio() {
        console.log('audioChunks length:', audioChunks.length);
        if (audioPlayer.src) {
            const audioBlob = new Blob(audioChunks, { type: 'audio/mp3' });
            console.log('audioBlob size:', audioBlob.size);
            const formData = new FormData();
            formData.append('audio', audioBlob);

            fetch('/Audio/GravarAudio', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        // Se a resposta não for ok, obtenha o texto da resposta e rejeite a promessa
                        return response.text().then(text => Promise.reject(text));
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.sucesso) {
                        feedback.innerHTML = data.mensagem;
                    } else {
                        feedback.innerHTML = 'Erro: ' + data.mensagem;
                    }
                })
                .catch(error => {
                    feedback.innerHTML = 'Erro ao enviar áudio: ' + error;
                });
        }
    }

    async function toggleGravacao() {
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            pararGravacao();
        } else {
            habilitarBotoes(true);
            feedback.innerHTML = 'Gravando...';
            const progressBar = document.getElementById('progress-bar');
            progressBar.style.width = '0%';
            progressBar.setAttribute('aria-valuenow', 0);
            startTime = new Date();

            try {
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                mediaRecorder = new MediaRecorder(stream, { mimeType: 'audio/webm' });

                mediaRecorder.ondataavailable = (evento) => {
                    console.log('mediaRecorder state:', mediaRecorder.state);
                    if (evento.data.size > 0) {
                        audioChunks.push(evento.data);
                        console.log('Data chunk collected:', evento.data);
                    }
                };

                mediaRecorder.onstop = () => {
                    clearInterval(recordingInterval);
                    timer.innerText = '00:00';
                    const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });  // Crie o audioBlob aqui
                    console.log('audioBlob type:', audioBlob.type);
                    const formData = new FormData();
                    const audioUrl = URL.createObjectURL(audioBlob);
                    audioPlayer.src = audioUrl;
                    formData.append('audio', audioBlob, 'meu-audio.web');  // Alterado para webm
                    sendAudioButton.disabled = false;
                    audioPlayer.style.display = 'block';

                    sendAudio();
                    habilitarBotoes(false);
                    feedback.innerHTML = 'Gravação concluída.';
                    audioChunks = [];
                };


                mediaRecorder.start();
                updateProgressBar();
            } catch (erro) {
                console.error('Erro ao acessar o microfone:', erro);
                habilitarBotoes(false);
                feedback.innerHTML = 'Erro ao acessar o microfone.';
            }
        }
    }



    function pararGravacao() {
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            clearInterval(recordingInterval);
            timer.innerText = '00:00';
            mediaRecorder.stop();
        }
    }

    function limparGravacao() {
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            pararGravacao();
        }
        audioChunks = [];
        audioPlayer.src = '';
        audioPlayer.style.display = 'none';
        habilitarBotoes(false);
        feedback.innerHTML = '';
    }

    function updateProgressBar() {
        recordingInterval = setInterval(() => {
            const elapsedTime = new Date() - startTime;
            const seconds = Math.floor(elapsedTime / 1000);
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            timer.innerText = `${minutes.toString().padStart(2, '0')}:${remainingSeconds.toString().padStart(2, '0')}`;

            const maxDuration = 100;  // Supondo que a duração máxima seja 5 minutos (300 segundos)
            const progress = Math.min((seconds / maxDuration) * 100, 100);
            const progressBar = document.getElementById('progress-bar');
            progressBar.style.width = `${progress}%`;
            progressBar.setAttribute('aria-valuenow', progress);
        }, 1000);
    }

    toggleRecordButton.addEventListener('click', toggleGravacao);
    clearRecordButton.addEventListener('click', limparGravacao);
    sendAudioButton.addEventListener('click', sendAudio);
</script>